/Lab_1/.vs
/Lab_1/out
/Lab_1/python_check/.cmake
/Lab_1/python_check/CMakeFiles
/Lab_1/python_check/Testing
/Lab_1/python_check/.ninja_deps
/Lab_1/python_check/.ninja_log
/Lab_1/python_check/build.ninja


/Lab_2/.vs
/Lab_2/out
/Lab_2/python_check_2/.cmake
/Lab_2/python_check_2/CMakeFiles
/Lab_2/python_check_2/Testing
/Lab_2/python_check_2/.ninja_deps
/Lab_2/python_check_2/.ninja_log
/Lab_2/python_check_2/build.ninja
/Lab_2/python_check_2_4/.cmake
/Lab_2/python_check_2_4/CMakeFiles
/Lab_2/python_check_2_4/Testing
/Lab_2/python_check_2_4/.ninja_deps
/Lab_2/python_check_2_4/.ninja_log
/Lab_2/python_check_2_4/build.ninja


/Lab_3/.vs
/Lab_3/out
/Lab_3/python_check_3/.cmake
/Lab_3/python_check_3/CMakeFiles
/Lab_3/python_check_3/Testing
/Lab_3/python_check_3/.ninja_deps
/Lab_3/python_check_3/.ninja_log
/Lab_3/python_check_3/build.ninja
/Lab_3/python_check_3_4/.cmake
/Lab_3/python_check_3_4/CMakeFiles
/Lab_3/python_check_3_4/Testing
/Lab_3/python_check_3_4/.ninja_deps
/Lab_3/python_check_3_4/.ninja_log
/Lab_3/python_check_3_4/build.ninja