/Lab_1/.vs
/Lab_1/out
/Lab_1/python_check/.cmake
/Lab_1/python_check/CMakeFiles
/Lab_1/python_check/Testing
/Lab_1/python_check/.ninja_deps
/Lab_1/python_check/.ninja_log
/Lab_1/python_check/build.ninja


/Lab_2/.vs
/Lab_2/out
/Lab_2/python_check_2/.cmake
/Lab_2/python_check_2/CMakeFiles
/Lab_2/python_check_2/Testing
/Lab_2/python_check_2/.ninja_deps
/Lab_2/python_check_2/.ninja_log
/Lab_2/python_check_2/build.ninja